html, body, h1, h2, h3, ul, li, p {
	padding: 0;
	border: 0;
	margin: 0;
}
h1 {
	color: #00005C;
	font-family: "Times New Roman" Helvetica sanserif;
	font-size: 48px;
	padding: 10px 0 10px 20px;
}
.contact-info li {
	display: inline;
	font-family: Calibri Helvetica sanserif;
	font-size: 16px;
	padding: 0 100px 0 20px;
}
section {
	float: right;
	width: 85%;
}
aside {
	float: left;
	width: 12%;
	padding: 0 0 0 20px;
}